<h2>Manutenção de Clientes</h2>
<ul>
  <li *ngFor="let c of clientes" > {{c.id}}: {{c.cpf }} - {{ c.nome }}   <button mat-button (click)="selecionar(c)">EDITAR</button>  <button style="color:red" (click)="delete(c.id)">X</button></li>
</ul>


<button (click)="novo()">Novo</button>
<button (click)="salvar()">Salvar</button>
<!-- <button (click)="delete()">Deletar</button> -->

<div *ngIf="curCliente">
  <input type="text" [(ngModel)]="curCliente.nome" placeholder="Nome">
  <br>
  <input type="text" [(ngModel)]="curCliente.cpf" placeholder="CPF">
</div>
